.team {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 5%;
}

.team .section-title{
    margin-bottom: 5%;
}

.team-boxes {
    margin-top: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.team-person-box {
    position: relative;
    width: 250px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    padding: 30px;
    background-color: var(--white);
    box-shadow: 3px 5px 8px 3px #00000048;
    border-radius: 2px;
    overflow: hidden;
    transition: .2s;
}

.team-person-box:hover{
    transform: translate(-2px, -12px);
    box-shadow: 3px 5px 10px 3px #0000007a;
}

.team-person-box>div {
    width: 100%;
    height: 60%;
    margin-bottom: 10px;
}

.team-person-box .person-img-1 {
    background-image: url(../img/team/abner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.team-person-box .person-img-2 {
    background-image: url(../img/team/caio-hideki.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.team-person-box .person-img-3 {
    background-image: url(../img/team/jonas-bezerra.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.team-person-box .person-img-4 {
    background-image: url(../img/team/kennedy-martins.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.team-person-box .person-img-5 {
    background-image: url(../img/team/rafael-coelho.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.team-person-box p {
    text-align: center;
}

.team-person-box .social-icons-team {
    position: absolute;
    width: 100%;
    height: 20%;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.5s ease 0s;
    bottom: -80px;
}

.team-person-box:hover .social-icons-team {
    bottom: -15px;
}

.team-person-box .social-icons-team a i {
    transition: .2s;
}

.team-person-box .social-icons-team a:hover i {
    color: var(--secondary-color);
}

.card-subtitle{

    opacity: 80%;

}