/* GLOBAIS */

:root {
  --white: rgb(252, 252, 252);
  --darker-blue-color: #272838;
  --secondary-color-hover: #10344d;
  --secondary-color: #164564;
  --medium-blue-color: #2980B9;
  --blue-gradient: linear-gradient(253.41deg, #418DFF 24%, rgba(255, 255, 255, 0) 101.73%), #385684;
}

/* BARRA DE SCROLL CUSTOMIZADA */

::-webkit-scrollbar-track {
  background-color: #262626;
}

::-webkit-scrollbar {
  width: 1vh;
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--blue-gradient);
}

/* Definição padrão para todos os elementos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color: var(--darker-blue-color);
  user-select: none;
}

body {
  /* background-color: #f3f3f3; */
}

/* Nav */

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s;
}

nav a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-right: 10%;
}

.img-logo {
  width: 50%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: var(--darker-blue-color);
  height: 12vh;
  padding: 10px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list a {
  font-size: 15px;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

/* Responsividade navbar */

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: var(--darker-blue-color);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.section-title {
  text-align: center;
}

/* Sessão da home */

.container {
  width: 85%;
  margin: auto;
}

.destaque {
  color: var(--secondary-color);
}

.line {
  margin: 5% auto;
  height: 5px;
  width: 75%;
  background-color: var(--secondary-color);
}

/* Quem somos nós */

section{
  padding: 5% 0;
}
.about-us-txt {
  text-align: justify;
}

.info-content {
  width: 90%;
  height: 300px;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media(max-width: 767px) {
  .info-content {
    width: 100%;
    height: 300px;
    padding: 10px;
    display: grid;
    grid-template-columns: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Equipe */

.equipe-title {
  font-size: 30pt;
  font-weight: bolder;
  padding-top: 7vh;
  padding-bottom: 5vh;
  text-align: center;
}

.card-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
}

.card {
  max-width: 190px;
  height: 40vh;
  position: relative;
  background-color: white;
  margin: 35px 20px;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.4s ease-in-out;
  border-radius: 3px;
}

.card:hover {
  transform: scale(1.1);
}

.imgbx {
  position: relative;
  width: 260px;
  height: auto;
}

.card-text {
  padding-top: 10px;
}

.position {
  padding-left: 40px;
  height: 100px;
}

.image {
  padding-right: 15px;
}

.imgbx img {
  max-width: 80%;
}

.card-title {
  text-align: center;
  opacity: 70%;
}

.card-subtitle {
  text-align: center;
  opacity: 60%;
  margin: 0;
}

/* Botões do card */

.btn-position {
  padding-top: 20px;
  padding-left: 20px;
}

.btn-icone {
  margin-right: 5px;
  display: inline-block;
  width: 40px;
  height: 40x;
  color: #333;
  line-height: 40px;
  text-align: center;
  border: 2px solid #444;
  border-radius: 50%;
}

/* Git-Hub */

.git {
  color: #2C3E50;
}

.git:hover {
  border-color: #fff;
  border-color: #fff;
  color: #fff;
  background-color: rgba(149, 0, 207, 1);
  transition: 0.5s ease-in-out;
}

.icone-git {
  text-decoration: none;
}

.icone-git:hover {
  color: white;
}

/* Linkedin */

.link:hover {
  border-color: #fff;
  border-color: #fff;
  color: #fff;
  background-color: #0077b5;
  transition: 0.5s ease-in-out;
}

.icone-link {
  text-decoration: none;
}

.icone-link:hover {
  color: white;
}

/* Facebook */

.face:hover {
  border-color: #fff;
  border-color: #fff;
  color: #fff;
  background-color: #0077b5;
  transition: 0.5s ease-in-out;
}

.icone-face {
  text-decoration: none;
}

.icone-face:hover {
  color: white;
}

/* Footer */

.icon {
  color: #ffff !important;
}

.footer-container {
  max-width: 1170px;
  margin-left: 20%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15%;
}

ul {
  list-style: none;
}

.footer {
  background-color: #272838;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

btn-home .footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  background-color: var(--medium-blue-color);
}

/*responsividade do footer*/

@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  /* Footer */
  .footer-col {
    width: 100%;
  }
}

.map-bar {
  width: 100%;
  padding-top: 50px;
  background-color: var(--darker-blue-color);
}