.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.atmonit-img {
    min-width: 200px;
    width: 20%;
    padding: 3% 0;
}

.product-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
}

.products:nth-child(2) {

}

.product-box .info-text {
    width: 450px;
    padding-bottom: 10%;
}

.product-box-img {
    width: 400px;
    height: 300px;
    background-color: #E5E5E5;
    margin-bottom: 5%;
}