* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color: #2C3E50;
}

/* Nav */

a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-right: 10%;
}

.img-logo {
  width: 50%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #272838;
  height: 8vh;
  padding: 10px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list a {
  font-size: 15px;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

/* Responsividade navbar */

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


/* Sessão da home */

.container {
  width: 80%;
  margin: auto;
}

.destaque {
  color: #24628C;
}

.line {
  height: 2px;
  width: 60%;
  margin: auto;
  background-color: #24628C;
  border-radius: 10px;
}





/* .header-content{

  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  color: #2C3E50;

}

.header-content h2{

  font-size: 4vmin;

}

.header-content h1{

  font-size: 7vmin;
  margin-top: 16px;
  margin-bottom: 30px;

}

.line{

  width: 150px;
  height: 4px;
  background: #24628C;
  margin: 10px auto;
  border-radius: 5px;

}

.btn-home{

  padding: 8px 15px;
  background: #24628C;
  border-radius: 50px;
  color: whitesmoke;

}

.btn-home:hover{

  filter: brightness(75%);
  transition: 0.5s ease;

} */

/* Quem somos nós */

.info-content {
  width: 90%;
  height: 300px;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media(max-width: 767px) {
  .info-content {
    width: 100%;
    height: 300px;
    padding: 10px;
    display: grid;
    grid-template-columns: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

#partners {
  padding: 5% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(max-width: 400px) {
  #partners {
    margin-bottom: 20%;
  }
}

.partners-boxes {
  text-align: center;
  margin: 5% 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 3px;
  min-width: 250px;
  width: 10%;
  height: 40vh;
  justify-content: center;
  align-items: center;
  padding: 5%;
  box-shadow: 3px 5px 8px 3px #00000048;
  background-color: #ffff;
  text-align: center;
  margin: 0 3% 15% 0;
}

.box-img {
  width: 80%;
}

/*
.info-img{

  width: 90%;

}
*/

.info-text {
  font-size: 1rem;
}

/* 
@media(max-width: 400px){

  .box{

    border:none;
    border-radius: 3px;
    width: 60%;
    height: auto !important;
    justify-content: center;
    align-items: center;
    margin:10px;
    padding: 10px;
    box-shadow: 3px 5px 8px 3px #00000048;
    background-color: #ffff;
    text-align: center;
  
  }

}

 */

/* Footer */

.icon {
  color: #ffff !important;
}

.footer-container {
  max-width: 1170px;
  margin-left: 20%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15%;
}

ul {
  list-style: none;
}

.footer {
  background-color: #272838;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

btn-home .footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsividade*/

@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  /* Footer */
  .footer-col {
    width: 100%;
  }
}