.banner-img {
    width: 100%;
    height: 100%;
    background-image: url(../img/banner_img\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #E5E5E5;
    background-attachment: fixed;
    margin-bottom: 8%;
}

.text-layer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.726), rgba(19, 19, 19, 0.699));
    width: 60%;
    min-height: 25vh;
    padding: 10px;
    text-align: center;
}

.home {
    display: flex;
    width: 100%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
  }

  .introduction {
    flex: 1;
  }
  
  .intro-text h1 {
    font-weight: 500;
    color: #FFF;
  }
  
  .intro-text p {
    margin-top: 5px;
    font-size: medium;
    color: #FFF;
  }

  @media (max-width: 999px) {
    .introduction{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text-layer{
        width: 100%;
    }
  }