*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/* Navegação */
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    background-color: #272838;
    color:#ffff;
    padding: 0px 15px 15px;
    
}

.logo{
    width: 8%;
    margin: auto;
}

.sidebar{

    height:88.8vh;
    background-color: #272838;
    width:70px;
    position: absolute;

}


/* Componentes */
.container{

    width: 90%;
    height: 75vh;
    margin: auto;
    margin-left: 7.5%;
    margin-top: 3%;
    background-color: crimson;
    

}

